 <% @mark_products.each do |product|%>
 <div class="item">
  <div class="col-md-2">
   <%=link_to image_tag(product.picture,size:"80x80"),product_path(product)%>
  </div>
  <div class="col-md-3">
    <%=link_to product.name, product_path(product)%>
  </div>
   <div class="col-md-1">
     <%= product.price%>
   </div>
   <div class="col-md-1"><%= link_to '移除', remove_mark_path(product),method: :delete,remote: true%></div>
</div><br>
 <%end%>
 <%= will_paginate @mark_products%>