<div id="comment_lists">
<%= render 'comment_lists'%>
</div>
<hr>

<!--评论表单-->
<div>
<%= simple_form_for [@product,Comment.new],remote: true do |f|%>
<%= f.input :user_id, as: :hidden, input_html: {value: current_user.id}%>
<%= f.input :content,label: "发表评价" %> 
<%= f.submit '提交', class: "btn btn-lg btn-primary"%>
<%end%>
</div>