<% @comments.each do |comment|%>
<div class="item">
<div class="col-md-2">
 <div><%= image_tag(comment.user.check_avatar,size: "65x65",class: "img-circle")%></div>
  <div style="margin-left: 12%;"><%= comment.user.nick_name%></div>
</div>
<div class="col-md-8">
 <div class="time_style"><%= time_ago_in_words(comment.created_at)%>前
  <% if can? :manage, comment%>
<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    操作
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to '删除评论', comment_path(comment, product_id: @product), method: :delete, remote: true%></li>
    <li><%= link_to '封禁ip', black_lists_path(email: comment.user.email, ip: comment.user.current_sign_in_ip), method: :post%></li>
    <li><%= link_to '封禁帐号', ban_comment_path(comment.user,product_id: @product), method: :post, remote: true%></li>
   
  </ul>
</div>
<%end%>
 </div><br>	
 <%= comment.content%>
 </div>
</div><br>
<%end%>
