<div class="col-md-10 col-md-offset-1">
	<div class="col-md-5">
   <strong>商品信息</strong>
	</div>
	<div class="col-md-1">
    <strong>单价(元)</strong>
	</div>
    <div class="col-md-1">
    <strong>数量</strong>
	</div>
	<div class="col-md-1">
    <strong>实付款(元)</strong>
	</div>
	<div class="col-md-1">
    <strong>交易状态</strong>
	</div>
	<br>
 <% @orders.each do |order|%>
 <div class="item">
 <div class="col-md-2"><%= link_to image_tag(order.product.picture, size: "50x50"), product_path(order.product)%></div>
 <div class="col-md-3"><%=link_to order.product.name, product_path(order.product)%></div>
 <div class="col-md-1"><%= order.product.price%></div>
 <div class="col-md-1"><%= order.item.quantity%></div>
 <div class="col-md-1 "><%= order.total_price%></div>
 <div class="col-md-1"><%= link_to '订单详情',order_path(order)%></div>
</div><br>
 <%end%>
<%= will_paginate @orders %>
</div>