<div class="col-md-10 col-md-offset-1">
	<div class="col-md-5">
   <strong>商品信息</strong>
	</div>
	<div class="col-md-1">
    <strong>单价(元)</strong>
	</div>
    <div class="col-md-1">
    <strong>数量</strong>
	</div>
	<div class="col-md-1">
    <strong>实付款(元)</strong>
	</div>
	<div class="col-md-1">
    <strong>交易状态</strong>
	</div>
	<br>
 <% @orders.each do |order|%>
 <% order.products.each do |product|%>
 <div class="item">
 <div class="col-md-2"><%= link_to image_tag(product.picture, size: "50x50"), product_path(product)%></div>
 <div class="col-md-3"><%=link_to product.name, product_path(product)%></div>
 <div class="col-md-1"><%= product.price%></div>
 <div class="col-md-1"><%= item_quantity(order.id,product.id)%></div>
 <div class="col-md-1 "><%= product.price * item_quantity(order.id,product.id)%></div></div><br>
 <%end%>
  
 <%end%>
<%= will_paginate @orders %>
</div>