<div class="col-md-10 col-md-offset-1">
<h2>确认订单信息</h2> <hr>
<div class="col-md-5">
   <strong>商品信息</strong>
	</div>
	<div class="col-md-1">
    <strong>单价(元)</strong>
	</div>
    <div class="col-md-1">
      <strong>数量</strong>
    </div>
	<br>
 
 <div class="item">
  <div class="col-md-2">
   <%=link_to image_tag(@product.picture,size:"80x80"),product_path(@product)%>
  </div>
  <div class="col-md-3">
    <%=link_to @product.name, product_path(@product)%>
  </div>
   <div class="col-md-1">
     <%= @product.price%>
   </div>

     <div class="col-md-1">
    
     </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-1">
 <h2>确认收货地址</h2><hr>
 <%= simple_form_for @order do |f|%>
   <%= f.input :buyer,label: "收货人姓名：",input_html: { value: current_user.real_name }%>
   <%= f.input :phone,label: "手机号码：",input_html: { value: current_user.phone }%>
   <%= f.input :address,label: "收货地址：",input_html: { value: current_user.address }%>
   <%= f.simple_fields_for :item do |item|%>
   <%= item.input :quantity,label: "购买数量"%>
      <%= item.input :product_id, as: :hidden, input_html: {value: @product.id}%>
   <%end%>
   <%= f.submit '提交订单', class: "btn btn-lg btn-success"%>
 <%end%>

</div>