
<div class="col-md-6">
	<h1 align="center">用户管理</h1>
<div class="normal_border">
<table class="table table-hover">
<tr>
<td><b>id</b></td>
<td><b>email</b></td>
<td><b>昵称</b></td>
<td><b>联系电话</b></td>
</tr>	
<% @users.each do |user|%>
<tr>
<td><%= link_to user.id, edit_admin_user_path(user)%></td>
<td><%= link_to user.email, edit_admin_user_path(user)%></td>
<td><%= user.nick_name%></td>
<td><%= user.phone%></td>
</tr>
<%end%>
</table>
<%= will_paginate @users %>
</div>
</div>

<div class="col-md-6">
<h1 align="center">管理员列表</h1>
<div class="normal_border">
	<%if current_user.super_admin?%>
	<div class="form-inline pull-right">
     <%= form_tag add_admin_users_path do %>
      <%= text_field_tag :email, params[:email],class: "form-control ",placeholder: "输入要添加的email帐号"%>
      <%= submit_tag '添加管理员', class: "btn btn-primary"%>
     <%end%>
     </div>
	<%end%>
<table class="table table-hover">
<tr>
<td><b>id</b></td>
<td><b>email</b></td>
<td><b>昵称</b></td>
<td><b>联系电话</b></td>
<td><b>操作</b></td>
</tr>	
<% @admin_users.each do |user|%>
<tr>
<td><%= link_to user.id, edit_admin_user_path(user)%></td>
<td><%= link_to user.email, edit_admin_user_path(user)%></td>
<td><%= user.nick_name%></td>
<td><%= user.phone%></td>
<td>
   <% if current_user.super_admin?%>
	<%= link_to '移除', remove_admin_user_path(user), method: :delete unless user == current_user%>
   <%end%>
</td>
</tr>
<%end%>
</table>
<%= will_paginate @admin_users %>
</div>
</div>
