<div class="col-md-12">

<div id="banner_tabs" class="flexslider">
        <ul class="slides">
            <li>
                <a title="" target="_blank" href="#">
                    <%= image_tag "banner1.jpg", size: "1920x482", style: "background: url(alpha.png) no-repeat center;"%>
                </a>
            </li>
            <li>
                <a title="" href="#">
                    <%= image_tag "banner2.jpg",size: "1920x482", style: "background: url(alpha.png) no-repeat center;"%>
                </a>
            </li>
            <li>
                <a title="" href="#">
                    <%= image_tag "banner3.jpg", size: "1920x482", style: "background: url(alpha.png) no-repeat center;"%>
                </a>
            </li>
        </ul>
        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="javascript:;">Previous</a></li>
            <li><a class="flex-next" href="javascript:;">Next</a></li>
        </ul>
        <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>2</a></li>
        </ol>
    </div>
   
 <h2>全部商品</h2><hr>
 <div class="effect-container">
 <% @products.each do |product|%>   
 <div class="product_border">
   <%= link_to (image_tag product.picture, class: "img-style row1",size: "200x200"), product_path(product)%>
   <div><strong><%=link_to "$#{product.price}", product_path(product), class: "red_color"%></strong></div>
</div>
 <%end%>
 </div>
 <script type="text/javascript">
$(function() {
        var bannerSlider = new Slider($('#banner_tabs'), {
            time: 5000,
            delay: 400,
            event: 'hover',
            auto: true,
            mode: 'fade',
            controller: $('#bannerCtrl'),
            activeControllerCls: 'active'
        });
        $('#banner_tabs .flex-prev').click(function() {
            bannerSlider.prev()
        });
        $('#banner_tabs .flex-next').click(function() {
            bannerSlider.next()
        });
    })

 $(function(){
            $('.row1').adipoli({
                'startEffect' : 'normal',
                'hoverEffect' : 'popout'
            });
             $('.row2').adipoli({
                'startEffect' : 'overlay',
                'hoverEffect' : 'sliceDown'
            });
            $('.row3').adipoli({
                'startEffect' : 'transparent',
                'hoverEffect' : 'boxRandom'
            });
            $('.row4').adipoli({
                'startEffect' : 'overlay',
                'hoverEffect' : 'foldLeft'
            });
            $('.row5').adipoli({
                'startEffect' : 'transparent',
                'hoverEffect' : 'boxRainGrowReverse'
            });
            $('.row6').adipoli({
                'startEffect' : 'grayscale',
                'hoverEffect' : 'normal'
            });
        });
 </script>
</div>