<div class="col-md-8 col-md-offset-2">
 <div class="col-md-4">
 <div class="product_picture">
  <div><%= image_tag(@product.picture,size:"420x420")%></div>
  <div id="mark_product">
  	<%if user_signed_in?%>
  	<%if current_user.marking?(@product)%>
     <%= render 'unmarked'%>
 <%else%>
      <%= render 'mark'%>
  <%end%>
  <%end%>
  </div>
   <div class="pull-right">已经有<%= link_to @product.marking_users.count, '#', id: "mark_count", class: "red_color"%>人收藏该商品</div>
 </div>
 </div>


 <div class="col-md-6 col-md-offset-2">
 	<h3><%= @product.name%></h3>
 	价格：<div class="price"><%= @product.price%></div>
 	 <%if @product.inventory.zero?%>
     <h2 class="red_color">抱歉,该商品暂时缺货～</h2>
     <%else%>
 	库存<strong><%= @product.inventory%></strong>件
 	<div><%= button_to '立即购买', preview_order_path(product_id: @product), class: "btn btn-lg btn-success"%></div><br>
     <div><%= button_to '加入购物车', items_path(product_id: @product), class: "btn btn-lg btn-info"%></div>
 	<br>
 	<%end%>
 </div>
</div>

<div class="col-md-8 col-md-offset-2">

      <ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to '商品详情', detail_product_path,remote: true %></li>
  <li role="presentation"><%= link_to '评价', product_comments_path(@product),remote: true%></li>
</ul>
    <div id="detail">
    <%= @product.introduction%>
    </div>
	</div>
